<div class="navbar-inner col-xs-12 col-md-12 menu_metareading" data-ng-controller="HeaderController">
  <ul class="nav list-inline">
    <li>
      <a class="brand" href="/">Metareading</a>
    </li>
    <li data-ng-repeat="item in menu" data-ng-show="global.user" ui-route="/{{item.link}}" ng-class="{active: $uiRoute}">
      <a href="#!/{{item.link}}">{{item.title}}</a>
    </li>
    <li data-ng-hide="global.authenticated"><a href="signup">Signup</a>
    </li>
    <li class="divider-vertical" data-ng-hide="global.authenticated"></li>
    <li data-ng-hide="global.authenticated"><a href="signin">Signin</a>
    </li>
    <li class="dropdown" data-ng-show="global.authenticated">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        {{global.user.name}} <b class="caret"></b></a>
        <ul class="dropdown-menu ">
          <li><a href="/signout">Signout</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
