<section data-ng-controller="ArticlesController">
	<form class="form-horizontal" data-ng-submit="create()">
		<div class="control-group">
			<label class="control-label" for="title">Title</label>
			<div class="controls">
				<input type="text" data-ng-model="title" id="title" placeholder="Title" required>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="content">Content</label>
			<div class="controls">
				<textarea data-ng-model="content" name='editor1' id="content" cols="30" rows="10" placeholder="Content"></textarea>
				<script>
				CKEDITOR.replace('editor1');
				</script>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="submit" class="btn">
			</div>
		</div>
	</form>
</section>
